body {
  background-color: #121212;
  color: #fff;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right-side-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  overflow-y: auto;
}

.resizer {
  background-color: #444;
  width: 10px;
  cursor: ew-resize;
  height: 100%;
}

.container-box {
  background-color: #222;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 15px;
  height: 45%;
  overflow-y: auto;
}
#complexityGraph {
  width: 100%;
  height: 400px;
}

#editor {
  height: 300px;
  width: 100%;
  border-radius: 5px;
}

#inputFields {
  margin-top: 10px;
}

#runBtn {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#runBtn {
  background-color: #c7c2c2;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#output {
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  height: 100px;
  overflow-y: auto;
}
